build
.idea
*.tif
.gradle
.project
.settings/
iiifproducer.iml
iiifproducer.ipr
iiifproducer.iws
iiifproducer.main.iml
iiifproducer.test.iml
producer/.settings/
producer/iiifproducer.producer.iml
producer/iiifproducer.producer.main.iml
producer/iiifproducer.producer.test.iml
templates/.settings/
templates/iiifproducer.templates.iml
templates/iiifproducer.templates.main.iml
templates/iiifproducer.templates.test.iml
xml-doc/.settings/
xml-doc/iiifproducer.xml-doc.iml
xml-doc/iiifproducer.xml-doc.main.iml
xml-doc/iiifproducer.xml-doc.test.iml
/bin/
